.header {
    max-width: 260px;
    transition: 500ms;
    transform: translate(-230px);
    display: flex;
    justify-content: space-between;

}

.block {
    width: 20px;
    height: 20px;
    background-color: darkslateblue;
    cursor: pointer;
}

.header:hover {
    transition: 500ms;
    transform: translate(0px);
}


.link {
    text-decoration: none;
    color: slateblue;
}